version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/photo-db
    depends_on:
      - mongo
    networks:
      - photo-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - photo-network

networks:
  photo-network:
    driver: bridge

volumes:
  mongo-data:
